*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   
}

/* .App{

   height: 100px;
  background-color: #2a2a2a; 
 
} */
body{
  background-color: 	#36454F;
}

.header{
  /* background-color: #a892ee; */
  background-color: #40005d;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
main{display: flex;
justify-content: center;
align-items: center;
height: 86.5vh ;

}

footer{
  background-color: #40005d;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
